.profileImg{
    box-sizing: initial;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 8px;
    /* margin-top: -2rem; */
    border: 2px solid var(--gray8);
    outline: 2px solid var(--green5);
}

.profileImgNoBorder{
    box-sizing: initial;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 8px;
    /* margin-top: -2rem; */
}