.post{
    padding: 2.5rem;
    background-color: var(--gray8);
    border-radius: 8px;
}

.post + .post{
    margin-top: 2rem;
}

.content{
    line-height: 1.6;
    color: var(--gray3);
    margin-top: 1.5rem;
}

.content p{
    margin-top: 1rem;
}

.content a{
    font-weight: bold;
    color: var(--green5);
    text-decoration: none;
}
.content a:hover{
    color: var(--green3);
}

.post > header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time{
    font-size: 0.875rem;
    color: var(--gray4);
}

.author{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo{
    display: flex;
    flex-direction: column;
}

.authorInfo strong{
    color: var(--gray1);
    line-height: 1.6;
}
.authorInfo span{
    font-size: 0.875rem;
    color: var(--gray4);
    line-height: 1.6;
}

.commentForm{
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray6);
    /* display: flex; */
}

.commentForm > strong{
    line-height: 1.6;
    color: var(--gray1);
}
.commentForm textarea{
    width: 100%;
    background-color: var(--gray9);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray1);
    line-height: 1.4;
    margin-top: 1rem;
}
.commentForm button[type=submit]{
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background-color: var(--green5);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.commentForm button[type=submit]:hover{
    background-color: var(--green3);
}
.commentForm .buttonWrapper {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity .1s ease-in-out;
  }
  
.commentForm:focus-within .buttonWrapper {
    visibility: visible;
    opacity: 1;
    max-height: none;
    transition: opacity 0.3s ease, visibility 0s;
}

.commentList{
    margin-top: 2rem;
}